html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 64px;
    color: white;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    border: 10px;
    margin-top: 10px;
    font-size: 64px;
}

.main-text {
    margin-bottom: 10px;
}