html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 64px;
    color: white;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}